* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Poppins, sans-serif;
}

.landing {
  background-color: #f4f7fa;
  color: #333333;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 70%;
  align-items: center;
  padding: 110px;
}

.landing h1 {
  font-size: 50px;
}

.landing p {
  font-size: 30px;
  padding-top: 10px;
  padding-bottom: 40px;
}

.landing-btns {
  background-color: #388e3c; /* deeper green */
  color: white;
  border-radius: 20px;
  cursor: pointer;
  padding: 10px 20px;
  font-weight: 600;
}

.landing-btns:hover {
  background-color: #2e7d32;
}

.landing-btns:not(:last-child) {
  margin-right: 40px;
}

.highlight {
  font-weight: 600;
}

.header-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  width: 100%;
  background-color: #f9f9f9;
  color: #333333;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
  position: fixed;
  height: 15%;
}

.logo {
  color: #333333;
  text-decoration: none;
  font-size: 30px;
  font-weight: 700;
  font-family: Open Sans;
}

.burger {
  display: none;
}

.logo-btn-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 5px;
  padding: 7px 14px;
  border-radius: 30px;
  background-color: #388e3c;
  cursor: pointer;
}
.logo-btn-flex1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 5px;
  padding: 7px 8px;
  border-radius: 30px;
  background-color: #388e3c; 
  cursor: pointer;
}

.logo-btn {
  color: white;
  margin: 5px;
  text-decoration: none;
}

.logo-right {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.logo-right1 {
  display: flex;
  justify-content: space-between;
  gap: 18px;
}

.logo-btn-flex:hover {
  box-shadow: 0 2px 5px rgba(7, 7, 7, 1.35);
  background-color: #2e7d32;
}

.dropdown-menu {
  position: absolute;
  top: 60px;
  right: 30px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
  z-index: 1000;
}
.dropdown-menu2 {
  position: absolute;
  top: 100px;
  right: 10px;
  left: 10px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
  z-index: 1000;
}

.dropdown-menu1 {
  position: absolute;
  top: 100px;
  margin-bottom: 100px;
  left: 7px;
  right: 5px;
  width: 95%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 17px;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.15);
  z-index: 1000;
}

.dropdown-menu h6 {
  margin: 10px 0;
  cursor: pointer;
  color: #333;
  font-size: 20px;
}

.dropdown-menu h6:hover {
  color: #1e3a8a;
  text-decoration: underline;
  text-underline-offset: 3px;
}
.dropdown-menu2 h6 {
  margin: 10px 0;
  cursor: pointer;
  color: #333;
  font-size: 13px;
}

.dropdown-menu2 h6:hover {
  color: #1e3a8a;
  text-decoration: underline;
  text-underline-offset: 3px;
}
.dropdown-menu1 h6 {
  margin: 10px 0;
  cursor: pointer;
  color: #333;
  font-size: 20px;
}

.dropdown-menu1 h6:hover {
  color: #1e3a8a;
  text-decoration: underline;
  text-underline-offset: 3px;
}

.radios{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 8px;
  gap: 8px;
}

.save{
  background-color: #f1f5f9;
  color: black;
  border-radius: 5px;
  border: 1px solid black;
  padding: 5px 10px;
}

.save:hover{
  box-shadow: 2px 3px 8px  #333333;
}

.footer-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer {
  background-color: #2c2c2c;
  padding: 30px 50px;
  color: white;
}

.footer-link:hover,
.socials:hover {
  cursor: pointer;
  color: #1e3a8a;
  text-decoration: underline white;
}

.footer-link-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.footer-link {
  color: white;
  line-height: 25px;
  letter-spacing: 1px;
}

.socials {
  color: white;
  margin-left: 10px;
}

.right {
  margin-top: 20px;
  text-align: center;
}

.form-container,
.form-container1 {
  max-width: 700px;
  margin: 100px auto;
  padding: 70px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background: #ffffff;
}

.form-container h2,
.form-container1 h2 {
  margin-bottom: 50px;
  text-align: center;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="password"],
.form-container1 input[type="text"],
.form-container1 input[type="email"],
.form-container1 input[type="password"] {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-container button,
.form-container1 button {
  width: 100%;
  height: 55px;
  padding: 12px;
  margin-top: 17px;
  background-color: #333;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

.form-container button:hover,
.form-container1 button:hover {
  background-color: #777;
}

.form-container .error,
.form-container1 .error {
  color: red;
  font-size: 12px;
  margin-bottom: 8px;
}

.form-switch-text {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: #333;
}

.form-switch-text a {
  color: #1e3a8a;
  text-decoration: none;
  font-weight: 600;
}
.form-switch-text-a {
  color: #1e3a8a;
  text-decoration: none;
  font-weight: 600;
}

.form-switch-text a:hover {
  text-decoration: underline;
}

/* Section 1 */
.section1 {
  text-align: center;
  padding: 100px 70px;
  padding-top: 130px;
}

.section1 h2 {
  font-size: 70px;
  font-weight: 900;
  padding-bottom: 20px;
  color: #1e3a8a;
  overflow-wrap: break-word;
}
.section2 h3 {
  font-size: 40px;
  text-align: center;
  font-weight: 900;
  color: #1e3a8a;
  overflow-wrap: break-word;
}
.section3-h3 {
  font-size: 40px;
  text-align: center;
  font-weight: 900;
  color: #1e3a8a;
  padding-top: 70px;
  overflow-wrap: break-word;
}

.section1 p {
  font-size: 20px;
  padding-bottom: 13px;
  font-weight: 500;
  color: #333;
  font-style: italic;
  overflow-wrap: break-word;
}

.section1-flex {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.section1-Link {
  font-size: 25px;
  overflow-wrap: break-word;
  font-weight: 500;
  align-items: center;
  color: #1e3a8a;
  text-decoration: none;
}
.section2-Link {
  font-size: 20px;
  padding: 10px;
  border-radius: 15px;
  margin: 20px;
  margin-bottom: 90px;
  overflow-wrap: break-word;
  font-weight: 500;
  background-color: #1e3a8a;
  color: #f1f5f9;
  text-decoration: none;
}
.section2-Link:hover{
  background-color: #4e639e;
  box-shadow: 0 2px 5px rgba(7, 7, 7, 1.35);
}
.link1{
  display: flex;
  align-items: center;
  justify-content: center;
}

.section1-Link:hover {
  text-decoration: underline;
}

.section2 {
  background-color: #f1f5f9;
  padding: 100px 50px;
}

.section2-flex{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 30px;

}

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  width: 300px;
  padding: 40px 30px;
  text-align: center;
}

.card:hover{
  box-shadow: 5px 2px 7px #2c2c2c;
}

.card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}

.card h3 {
  margin: 10px 0 5px;
  font-size: 20px;
  color: #1e3a8a;
}

.card p {
  font-size: 14px;
  color: #666;
}

.card button {
  margin-top: 10px;
  background-color: #388e3c;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 8px 16px;
  cursor: pointer;
}

.card button:hover {
  background-color: #2e7d32;
}

.section3{
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  padding: 0 13%;
  padding-top: 50px;
  padding-bottom: 130px;
}


.div{
  gap: 90px;
  display: flex;
  justify-content: space-between;
  align-items: end;
  background-color: #4e639e;
  color: white;
  width: 350px;
  padding: 20px;
  font-size: 27px;
  border-radius: 10px;
}
.div:hover{
  box-shadow: 5px 5px 19px black;
}
.newsletter{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  gap: 5px;
  font-size: 18px;
  color: #464545;
}
.radio-options{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  gap: 5px;
  font-size: 18px;
  color: #464545;
}
.buttons{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}
.newsletter-note{
  font-style: italic;
  font-size: 15px;
  font-weight: 800;
}
.google-login-btn{
  margin: 20px 0; 
  padding: 10px 45%;
  padding-top: 20px;
  cursor: pointer;
  border: 1px solid #333;
  border-radius: 50px;
}
.google-login-btn:hover{
  background-color: #F2F5F1;
}

.google-img{
  width: 70px;
  height:40px;
}

.dropdown-sub{
  padding: 3px 35px;
  padding-right: 80px;
}
.success{
  color: green;
  margin-top: 1rem;
}










/* Responsive */
@media (max-width: 800px) {
  .footer-flex {
    flex-direction: column;
    gap: 30px;
  }

  .footer-link {
    line-height: 30px;
  }

  .burger {
    display: contents;
  }

  .logo-right {
    display: none;
  }
  .form-container,
  .form-container1 {
    width: 90%;
    margin: 80px auto;
    padding: 40px;
  }
}

@media (max-width: 562px) {
  .landing {
    padding: 110px 15px;
    padding-bottom: 80px;
  }

  .landing h1 {
    font-size: 30px;
  }

  .landing p {
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 40px;
  }

  .landing-btns {
    padding: 7px 10px;
    font-size: 15px;
  }
}
@media (max-width: 318px){
  .landing-btns-flex{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
  .landing-btns{
    width: 160%;
  }
  .landing-btns:not(:last-child){
    margin: 0;
  }
}

@media (max-width: 505px){
  .section1 h2 {
    font-size: 45px;
    font-weight: 900;
    padding-bottom: 20px;
  }
  .section1 {
    padding: 70px 20px;
    padding-top: 230px;
  }
  .section1-flex {
    gap: 10px;
  }
  .section1-Link {
    font-size: 23px;
    font-weight: 500;
  }
}

@media (max-width: 480px) {
  .form-container,
  .form-container1 {
    width: 95%;
    margin: 100px auto;
    padding: 25px;
  }

  .form-container h2,
  .form-container1 h2 {
    font-size: 22px;
    margin-bottom: 30px;
  }

  .form-container button,
  .form-container1 button {
    height: 50px;
    max-width: 90%;
  }
}

@media (max-width: 745px){
  .section2-flex{
    gap: 70px;
  }
  .card {
    width: 100%;
    padding: 40px 30px;
  }
  .section2 {
    padding: 100px 30px;
    padding-bottom: 190px;
  }
}

@media (max-width: 990px){
  .div{
    gap: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4e639e;
    color: white;
    width: 280px;
    padding: 10px;
    font-size: 27px;
    border-radius: 10px;
  }
  .section3{
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    padding: 0 50px;
    padding-top: 50px;
    padding-bottom: 130px;
  }
}
@media (max-width: 700px){
  .div{
    gap: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4e639e;
    color: white;
    width: 270px;
    padding: 10px 7px;
    font-size: 27px;
    border-radius: 10px;
  }
  .section3{
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    padding: 0 10px;
    padding-top: 50px;
    padding-bottom: 130px;
  }
}
@media (max-width: 600px){
  .div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4e639e;
    color: white;
    max-width: 270px;
    padding: 5px;
    font-size: 27px;
    border-radius: 10px;
  }
  .section3{
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 0 12px;
    padding-top: 50px;
    padding-bottom: 130px;
  }
}